<h1>Users profile</h1>
<%= image_tag(@user.avatar_url, height: '200', width: '200') unless @user.avatar_url == nil %>
<div><%= @user.email %></div>
<div><%= @user.full_name %></div>
<div><%= l(@user.created_at, format: :short) %> </div>

<%= link_to 'Edit', edit_user_registration_path %>
   
<%= button_to "Remove user", registration_path(current_user),
      data: { confirm: "Are you sure?" }, method: :delete %></p>   
      
<p>------------------------------------------------------</p>
<div><%= link_to "Main page", root_path %></div>
