<h1>Users profile</h1>
<%= image_tag(@user.avatar_url, height: '200', width: '200') unless @user.avatar_url == nil %>
<div><%= @user.email %></div>
<div><%= @user.full_name %></div>
<div><%= l(@user.created_at, format: :short) %> </div>
<%= link_to "Edit account", profile_edit_path, id: @user %>
<div><%= link_to "Change my password or email", edit_user_registration_path unless @user.provider == "google_oauth2" %></div>
<%= button_to "Remove my account", registration_path(@user),
 data: { confirm: "Are you sure?" }, method: :delete %>
<p>------------------------------------------------------</p>
<div><%= link_to "Main page", root_path %></div>
